<app-titulo [titulo]="titulo"></app-titulo>
<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label>
    <input type="text" class="form-control mr-2" placeholder="buscar" [(ngModel)]="buscar">
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button (click)="mostrarImg()" class="btn btn-outline-light btn-sm">
          <i class="{{!exibirImg ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{!exibirImg? 'Exibir': 'Ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data Evento</th>
      <th>Qtde. Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventos">
      <td>
        <img [collapse]="!exibirImg" [isAnimated]="exibirImg"
        src="https://img.freepik.com/vetores-gratis/estilo-de-fundo-de-impressao-digital-de-neon_23-2148384081.jpg?t=st=1656254263~exp=1656254863~hmac=6db95337577a3557d447ba7bf6f70988476719d0a90db0fcd28ae3cfc9b9d9ba&w=740"
        alt=""
        [style.width.px]="larguraImg"
        [style.margin.px]="margemImg"
        >
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimePipe}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lotes.length}}</td>
      <td>
        <button type="button" class="btn btn-outline-primary btn-sm mr-2" tooltip="Editar">
          <i class="fa-solid fa-pen"></i>
        </button>
        <button type="button" class="btn btn-outline-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>

  </tfoot>
</table>
<!-- {{eventos | json}} -->

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer excluir este evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
